#navigation {
    
}

ul {
    list-style-type: none;
    border: 5px solid rgb(125,98,69);
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(125,98,69);
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(255, 245, 230);
}

.currentPage {
    background-color: rgb(206,179,150);
}

#text {
    border: 5px solid pink
}

h1 {
    text-align: center; border-style: double;
}
h3 {
    text-align: center; color: rgb(63, 42, 32);
}
body {
    background-color: rgb(252, 229, 192);
    text-align: center;
}
p {
    text-align: center; font-size: 17px; color: rgb(78, 55, 38);
}
#architecture {
    height: 400px; width: 400px; border-style: dotted;
}