h1 {
    text-align: center; border-style: double;
}
h3 {
    text-align: center; color: rgb(63, 42, 32);
}
body {
    background-color: rgb(252, 229, 192);
    text-align: center;
}
#corpse_bride {
    height: 250px; width: 500px; border-style: dotted;
}
p {
    text-align: center; font-size: 17px; color: rgb(78, 55, 38);
}
.corpsebride {
    font-size: 12px;
}
#architecture {
    height: 400px; width: 400px; border-style: dotted;
}
.linkedin {
    color: rgb(98, 82, 222);
}