h1 {
    text-align: center; border-style: double;
}
h3 {
    text-align: center; color: rgb(63, 42, 32);
}
body {
    background-color: rgb(252, 229, 192);
    text-align: center;
}
p {
    text-align: center; font-size: 17px; color: rgb(78, 55, 38);
}
.linkedin {
    color: rgb(98, 82, 222); font-size: 20px;
}
#random_cat {
    text-align: center; border-style: dotted;
}